.ShowItem {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  image-rendering: pixelated;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ShowItem .ShowItem_img {
  position: absolute;
  animation: spin-right 1s;
  transform: scale(6);
}

.ShowItem .ShowItem_svg {
  opacity: 0.9;
  animation: width-up 0.4s;
  transform: rotate(90deg);
  width: 240px;
}

@keyframes spin-right {
  0% { transform: rotate(0deg) scale(0.5); }
  100% { transform: rotate(720deg) scale(6); }
}

@keyframes width-up {
  0% {  width: 48px; }
  100% { width: 240px; }
}
